{% extends "post_list.html" %}
{% block content %}
    <h2>User Profile: {{ user.username }}</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="message-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Profile</button>
    </form>
    <p>Joined on: {{ user.date_joined }}</p>
    
    <hr>
    <small><a href="{% url 'logout' %}">Log Out</a></small>
{% endblock content %}